body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(42, 42, 42);
}

.stopwatch {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#display {
  font-size: 6em;
  margin-bottom: 10px;
  color: cadetblue;
}

.name {
  position: absolute;
  top: 8rem;
  font-size: 3rem;
  color: chartreuse;
}

button {
  color: darkcyan;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

button::before {
  margin-left: auto;
}

button::after,
button::before {
  content: "";
  width: 0%;
  height: 2px;
  background: aquamarine;
  display: block;
  transition: 0.5s;
}

button:hover::after,
button:hover::before {
  width: 100%;
}

.btn {
  height: 70px;
  width: 400px;
  position: absolute;
  top: 24rem;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .btn {
    top: 30rem;
  }

  .name {
    top: 16rem;
  }
}
